.skills,
.projects {
  padding: 70px 10%;
  background-color: #0a192f;
  color: #ccd6f6;
  text-align: center;
}

.skills h2,
.projects h2 {
  color: #64ffda;
  font-size: 32px;
  margin-bottom: 20px;
}

.skills-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

.skill-item {
  padding: 15px 25px;
  border: 1px solid #64ffda;
  border-radius: 8px;
  color: #64ffda;
  transition: 0.3s;
}

.skill-item:hover {
  background-color: #112240;
  transform: translateY(-3px);
}
